bedrock-python-sdk
bedrock-python-sdk.zip
verification


node_modules/

cfn_nag_suppressions.log

**.DS_STORE**

**/.venv*/**
.venv/**
*venv*
__pycache__/
*.egg-info
*.egg

codebuild_build.sh
.vscode/settings.json
.vscode/launch.json
*tmp*
.pytest_cache

.idea/**


target/
*.jar
source/infrastructure/test/mock-lambda-func/java-lambda/checkstyle-result.xml
**/*dependency-reduced-pom.xml
.coverage.*

dist/
*.log
bak.*
*.bak
*.ipynb*
_bandit_temp.json
RapidAi.code-workspace
source/scripts/v2_migration/poetry.lock


__pycache__/
.venv
.DS_Store